/* General Body Styles */
body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif; /* Mejorar la fuente predeterminada */
}

/* Remove underlines from links */
a {
    text-decoration: none;
}

/* Login Container */
.login-container {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 20px;
}

/* Login Form */
.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    height: auto; /* Ajustar la altura para que sea flexible */
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */
.login-form img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espacio debajo del logo */
    mix-blend-mode: darken;
}

/* Input Field */
.login-form .form-control {
    border-radius: 30px;
    padding-left: 40px;
    margin-bottom: 20px; /* Espacio entre los inputs */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Placeholder text color */
.login-form .form-control::placeholder {
    color: #6c757d;
}

/* Input Group Icon */
.login-form .input-group-text {
    border-radius: 30px 0 0 30px;
    background-color: white;
    padding-left: 15px; /* Ajustar padding para mejorar el espaciado */
}

/* Submit Button */
.login-form .btn {
    border-radius: 30px;
    background-color: #306400; /* Verde oscuro */
    color: white;
    padding: 12px;
    width: 100%;
    font-size: 16px; /* Mejor tamaño de fuente para el botón */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Añadido transición para el hover */
}

.login-form .btn:hover {
    background-color: gold;
    color: #000;
    font-weight: 600; /* Mayor grosor al pasar el mouse */
}

/* Links (Olvidó la contraseña, etc.) */
.login-form a {
    color: #000;
    font-size: 14px; /* Ajuste de tamaño de fuente */
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}

/* Login Background Image */
.login-image {
    background-image: url('path_to_your_image.jpg'); /* Añadir la URL de tu imagen */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    border-radius: 10px;
    margin-left: 20px; /* Espacio entre el formulario y la imagen */
    min-width: 400px; /* Establecer un ancho mínimo para la imagen */
}
